body {
    background-image:url("../media/spinning-record-player-with-vintage-vinyl.jpg") ;
    text-align: center;

  }
  p {
    text-align: center;
    color: black;
  }
  footer{
    color: antiquewhite;
  }
  .mydiv {
    overflow: hidden;
    color: aliceblue;
    background-color: white;
  }
